In [32]:
import pandas as pd

df = pd.read_csv('ad.csv')

In [33]:
pd.crosstab (df['ad_id'], df['action']) #считаем кол-во

action    0    1
ad_id
A       696  304
B       628  372

In [34]:
372 - 304

68

In [35]:
pd.crosstab (df['ad_id'], df['action'], normalize=True)

action      0      1
ad_id
A       0.348  0.152
B       0.314  0.186

In [36]:
0.186 - 0.152

0.034

In [37]:
N1 = 1000
N2 = 1000

In [38]:
p1=304/N1
p2=372/N2
p1, p2

(0.304, 0.372)

In [39]:
p2 - p1

0.068

In [40]:
p_hat = (304+372) / (N1+N2)
p_hat

0.338

In [41]:
var = p_hat*(1-p_hat)*(1/N1 + 1/N2)

In [42]:
import numpy as np
se = np.sqrt(var)
se

0.02115447943108031

In [43]:
p_hat

0.338

In [44]:
(p2-p1)/se #t-test

3.2144492244084213